:root {
    --white: #fff;
    --yellow: #ffeb36;
    --green: #00ff96;
    --red: #e22c1d;
    --purple: #7747e5;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    background: url('../images/bg.webp'), #141017 -0.312px 0px / 100.033% 142.407% no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    padding-top: 33px;
}

.container {
    max-width: 1850px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.special-box {
    max-width: 1564px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    margin-bottom: 58px;

    &__wrapper {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    &__provider {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        height: 90px;
        padding: 6px 4px;
        color: var(--white);
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;
        border-radius: 12px;
        border: 1px solid transparent;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        &:active {
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.05);
        }

        &-wrapper {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-top: auto;
        }
    }
}

.menu {
    &__list {
        display: flex;
        gap: 6px;

        &-item {
            padding: 6px 16px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 90px;
            align-items: center;
            border-radius: 12px;
            border: 1px solid transparent;
            transition: all 0.15s linear;

            &:hover {
                background: rgba(255, 255, 255, 0.05);
            }

            &.active {
                border: 1px solid rgba(255, 255, 255, 0.2);
                background: rgba(255, 255, 255, 0.05);
            }
        }

        &-title {
            margin-top: auto;
            color: var(--white);
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
        }
    }
}

.games {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 32px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--white);
        font-size: 60px;
        font-weight: 600;
        line-height: 30px;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 416px;
        width: 100%;
    }

    &__toggle {
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.07);
        padding: 0 12px;
        height: 44px;
        max-width: 156px;
        width: 100%;

        span {
            color: var(--white);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            opacity: 0.3;
        }
    }

    &__search {
        max-width: 244px;
        width: 100%;
        position: relative;

        input {
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(0, 0, 0, 0.1);
            height: 44px;
            padding: 0 52px 0 16px;
            max-width: 244px;
            width: 100%;
            color: var(--white);
            font-family: 'Work Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;

            &::placeholder {
                color: rgba(255, 255, 255, 0.3);
            }
        }

        &-icon {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
        margin-bottom: 63px;
    }

    &__item {
        width: 244px;
        height: 244px;
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        border: 2px solid transparent;
        transition: all 0.2s linear;

        &:hover {
            border: 2px solid #7747e5;
            box-shadow: 0px 0px 10px 1px #7747e5;
        }

        &:active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
        }

        img {
            border-radius: 25px;
            position: relative;
            z-index: -1;
        }

        &-stickers {
            position: absolute;
            left: 8px;
            top: 9px;
            display: flex;
            gap: 4px;
        }

        &-sticker {
            color: var(--white);
            font-size: 15px;
            font-weight: 800;
            line-height: normal;
            border-radius: 12px;
            padding: 0 7px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: -1;

            &.new {
                color: #132440;
                background: var(--yellow);
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
            }

            &.top {
                background: var(--red);
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
            }

            &.live {
                position: relative;
                background: var(--purple);
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
                padding-left: 16px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 6px;
                    height: 6px;
                    background-color: var(--green);
                    border-radius: 50%;
                }
            }
        }

        &-favorite {
            position: absolute;
            top: 9px;
            right: 8px;
            cursor: pointer;
            z-index: -1;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 44px;
        background-color: var(--purple);
        color: var(--white);
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
        font-weight: 800;
        line-height: 30px;
        border-radius: 12px;
    }
}
